.sidebar-container {
  width: 80px;
}
/* Ensure sidebar is fixed and full height */
.sidebar-fixed {
  position: fixed;
  top: 75px;
  left: 0;
  height: 100vh;
  background-color: white;
  border-right: 1px solid #dee2e6;
  z-index: 1000; /* stays above other content */
  padding: 0.5rem;
}

@media (min-width: 768px) {
  .sidebar-fixed {
    width: 100px;
  }
}

